.cards {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  @include respond(large-mobile) {
    display: flex;
    flex-direction: column;
  }


  &__card {
    max-width: 35rem;
    height: 25rem;
    padding: 3.2rem;
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    background-color: #fff;
    border-top: 4px solid;

    display: flex;
    flex-direction: column;

    @include respond(tablet-landscape) {
      padding: 2.7rem;
    }

    @include respond(large-mobile) {
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }

    &--1 {
      border-color: var(--cyan);
      grid-row: 1 / -1;

      @include respond(tablet-landscape) {
        grid-row: initial;
      }
    }

    &--2 {
      border-color: var(--red);
    }

    &--3 {
      border-color: var(--orange);
    }

    &--4 {
      border-color: var(--blue);
      grid-row: 1 / -1;

      @include respond(tablet-landscape) {
        grid-row: initial;
      }
    }
  }

  &__card-text {
    font-size: 1.3rem;
    letter-spacing: .09px;
    margin-bottom: auto;
  }

  &__card-icon {
    align-self: flex-end;
  }
}