.section-features {
  width: 100%;
  // height: 92.2rem;
  padding: 8rem 0 7.4rem 0;
  background-color: var(--light-gray);
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 16.5rem;

  @include respond(laptop) {
    padding: 0 8rem;
  }

  @include respond(tablet-portrait) {
    padding: 0 3.2rem;
  }
}

.section-header {
  max-width: 54rem;
  margin: 0 auto 7rem auto;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}